:root {
  /* General Controls */
  --border-radius: 5px;
  --border-width: 1px;
  --border-color: #6272a4;
  --padding: 5px;
  --font-family: 'Courier New', monospace;
  --font-size: 14px;
  --line-height: 1.25;
  --pg-padding: 0;
  --margin-x: .25em;
  --margin-y: 0;

  /* General Colors */
  --background-color: #282a36;
  --table-bg: #191b22;
  --text-color: #f8f8f2;
  --accent-color: #6272a4;
  --table-header: #253461;

  /* Specific Colors for Data Types */
  --number-color: #bd93f9;
  --string-color: #81fb9f;
  --boolean-color: #8181fb;
  --object-color: #8be9fd;
  --function-color: #ff79c6;
  --array-fg: #ffebcd;
  --array-bg: #213535;

  /* Warning Colors */
  --warn-bg: #5b442a;
  --warn-fg: #ffb86c;

  /* Error Colors */
  --error-bg: #563333;
  --error-fg: #ff4848;
  --error-icon: #ff5555;

  --passed-bg: #00ff0011;
  --passed-text: rgb(141, 255, 141);

  /* Group Colors */
  --group-border: #e400ff;
  --group-summary-color: #e400ff;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: var(--pg-padding);
  display: grid;
  place-content: center;
  min-height: 100dvh;
  min-width: 100dvw;
}

.console-entry {
  padding: var(--padding);
  color: var(--text-color);
}

.console-entry>* {
  margin: var(--margin-y) var(--margin-x);
}

.console-log {
  color: var(--text-color);
}

.console-number,
.data-number {
  color: var(--number-color);
}

.console-string,
.data-string {
  color: var(--string-color);
}

.console-boolean,
.data-boolean {
  color: var(--boolean-color);
}

.console-object,
.data-object {
  color: var(--object-color);
}

.console-function,
.data-function {
  color: var(--function-color);
}

.console-array,
.data-array {
  color: var(--array-fg);
  background: var(--array-bg);
}

.data-undefined {
  color: var(--warn-fg);
}

.console-icon {
  font-weight: bold;
  margin-right: 5px;
}

.console-warn .console-icon {
  color: var(--warn-icon);
}

.console-error .console-icon {
  color: var(--error-icon);
}

.console-group summary {
  font-weight: bold;
  cursor: pointer;
  color: var(--group-summary-color);
  user-select: none;
}

.console-group {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid var(--group-border);
  background-color: var(--background-color);
}

.console-warn,
.console-group .console-warn,
.console-warn .console-string {
  background-color: var(--warn-bg);
  color: var(--warn-fg);
}

.console-error,
.console-group .console-error,
.console-error .console-string {
  background-color: var(--error-bg);
  color: var(--error-fg);
}

.console-table {
  border-collapse: collapse;
  width: 100%;
}

table {
  margin-inline: auto;
  width: 95dvw;
  border-radius: 10px;
  background-color: var(--table-bg);
  font-weight: 600;
  margin-bottom: 1em;
}

table.fixed-table td {
  width: unset;
}

thead {
  background-color: var(--table-header);
}

th {
  padding: .5em 1em;
}

td {
  padding: .5em;
  border-bottom: 1px dotted var(--border-color);
  border-right: 1px dotted var(--border-color);
}

td:first-child {
  width: 0%;
  padding: .75em 1.5em;
}

td:last-child {
  border-right: 0;
  width: 4ch;
  text-align: center;
}

tr:last-child td {
  border-bottom: 0;
}

tr {
  border-bottom: 1px dotted var(--border-color);
}

tr.passed {
  background-color: var(--passed-bg);
  animation: passed .4s ease forwards;
}

tr.failed {
  background-color: transparent;
  animation: failed .4s ease forwards;
}

table {
  opacity: 0;
  animation: float-in .3s ease forwards;
}

@keyframes float-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes passed {
  0% {
    background-color: #81fb9f;
  }

  100% {
    background-color: var(--passed-bg);
  }
}

@keyframes failed {
  0% {
    background-color: var(--error-fg);
  }

  100% {
    background-color: transparent;
  }
}